@CHARSET "UTF-8";
div#banner {
	clear:left;
	margin:5px;
}
div#menu {
	background-color:#f0f0f0;
	float:left;
	margin:5px;
	height:600px;
}
div#body {
	margin:5px;
}
div#footer {
	clear:left;
	margin:5px;
}
.menuentry a {
	color:inherit;
	text-decoration:none;
}
.menuentry a:hover{
	background-color:#fafafa;
}
.label {
	float:left;
	width:200px;
	margin:2px;
}
.error {
	float:left;
	margin:2px;
}
.input {
	margin:2px;
}
.submit {
	margin-left:204px;
}
.list  {
	height:300px;
	overflow:auto;
}
.tab {
	border:1px solid black;
}
.firstPage {
	float:left;
	margin:1px;
}
.prevPage {
	float:left;
	margin:1px;
}
.actualPage {
	float:left;
	margin:1px;
}
.nextPage {
	float:left;
	margin:1px;
}
.lastPage {
	float:left;
	margin:1px;
}